
<div class="fixed-sidebar">

    <button (click)="showLog = false; showSettings = false; showConnection = !showConnection" mat-icon-button color="secondary" aria-label="Show Connection Status"><mat-icon>info</mat-icon></button>
    <button (click)="showLog = false; showConnection = false;  showSettings = !showSettings" mat-icon-button color="secondary" aria-label="Settings"><mat-icon>settings</mat-icon></button>
    <button (click)="showConnection = false; showSettings = false; showLog = !showLog" mat-icon-button color="secondary" aria-label="Show Log"><mat-icon>list</mat-icon></button>
    


    <button (click)="makeNext()" *ngIf="!settings.autoTake" mat-raised-button color="warn" class="takeButton">Take</button>
</div>

<div class="fixed-overlay" *ngIf="showSettings || showLog || showConnection">
    <div class="fixed-overlay-header">
        <button (click)="showLog = false; showConnection = false; showSettings = false; " mat-icon-button color="secondary" aria-label="Close"><mat-icon>close</mat-icon></button>
    </div>

    <div *ngIf="showConnection" >
        <connectionstate></connectionstate>
    </div>

    <div *ngIf="showSettings" >
        <h3>Filter View:</h3>
        <mat-slide-toggle (toggleChange)="updateSettings(); updateViewStateAsync();" [(ngModel)]="settings.showHidden">Show Hidden</mat-slide-toggle>
        <mat-slide-toggle (toggleChange)="updateSettings()" [(ngModel)]="settings.showVideo">Video</mat-slide-toggle>
        <mat-slide-toggle (toggleChange)="updateSettings()" [(ngModel)]="settings.showAudio">Audio</mat-slide-toggle>
        <mat-slide-toggle (toggleChange)="updateSettings()" [(ngModel)]="settings.showDataRtp">Data (Multicast)</mat-slide-toggle>
        <mat-slide-toggle (toggleChange)="updateSettings()" [(ngModel)]="settings.showDataWs">Data (Websocket)</mat-slide-toggle>

        <h3>Behavior</h3>
        <mat-slide-toggle (toggleChange)="updateSettings()" [(ngModel)]="settings.autoTake">Autotake</mat-slide-toggle>


    </div>

    <div *ngIf="showLog" >
        <log></log>
    </div>


</div>




<div class="container" style="display:flex; flex-direction: row;">
  <div style="position:relative; flex-grow:2;">
    <div class="stickyBlocker" style="color:#ffffff;">
        <span style="position:absolute; left:175px; top:60px; font-size:18px; transform:rotate(90deg);">Sources</span>
        <span style="position:absolute; left:35px; top:210px; font-size:18px;">Destinations</span>
    </div>
    <div class="scrollContainer">

        <table class="crosspoint">
            <thead>
                    <tr>
                        <th class="stickySpacer"></th>
                        <ng-container *ngFor="let dev of viewState.senders">
                            <th class="cp-sender-device" [ngClass]="{'cp-object-hidden':dev.hidden}">
                                <span class="cp-expander" (click)="expand('snd',dev.id)"><mat-icon >{{(dev.expanded?"remove":"add")}}</mat-icon></span>
                                <span class="cp-label">{{dev.alias}}
                                    <span class="cp-buttons">
                                        <button mat-icon-button color="info" (click)="openEditDialog(dev.id, 'device', dev.label)" aria-label="Edit Name"><mat-icon>edit</mat-icon></button>
                                        <button *ngIf="!dev.hidden" mat-icon-button color="info" (click)="toggleHiddenObject(dev.id, 'sender_device')" aria-label="Hide"><mat-icon>visibility_off</mat-icon></button>
                                        <button *ngIf="dev.hidden" mat-icon-button color="info" (click)="toggleHiddenObject(dev.id, 'sender_device')" aria-label="Hide"><mat-icon>visibility_on</mat-icon></button>
                                        <button mat-icon-button color="info" aria-label="Open Information Dialog"><mat-icon>info</mat-icon></button>
                                    </span>
                                </span>
                                <span class="cp-info">{{dev.info}}</span>
                                
                            </th>
                            <th *ngFor="let snd of dev.childs" class="cp-sender-child" [ngClass]="{'cp-object-hidden':snd.hidden}">
                                <span class="cp-label">
                                    {{snd.alias}}
                                    <span class="cp-buttons">
                                        <button mat-icon-button color="info" (click)="openSenderInfo(snd.id)" aria-label="Open Information Dialog"><mat-icon>info</mat-icon></button>
                                        <button *ngIf="!snd.hidden" mat-icon-button color="info" (click)="toggleHiddenObject(snd.id, 'sender')" aria-label="Hide"><mat-icon>visibility_off</mat-icon></button>
                                        <button *ngIf="snd.hidden" mat-icon-button color="info" (click)="toggleHiddenObject(snd.id, 'sender')" aria-label="Hide"><mat-icon>visibility_on</mat-icon></button>
                                        <button mat-icon-button color="info" (click)="openEditDialog(snd.id, 'sender', snd.label)" aria-label="Edit Name"><mat-icon>edit</mat-icon></button>
                                    </span>
                                </span>
                                <span class="cp-info">
                                    <span *ngIf="snd.class == 'video'" class="cp-info-icon cp-info-video"><mat-icon>videocam</mat-icon></span>
                                    <span *ngIf="snd.class == 'audio'" class="cp-info-icon cp-info-audio"><mat-icon>mic</mat-icon></span>
                                    <span *ngIf="snd.class == 'data'" class="cp-info-icon cp-info-data"><mat-icon>poll</mat-icon></span>

                                    <span *ngIf="snd.class == 'video'" class="cp-info-more cp-info-video">{{snd.info}}</span>
                                    <span *ngIf="snd.class == 'audio'" class="cp-info-more cp-info-audio">{{snd.info}}</span>
                                    <span *ngIf="snd.class == 'data'" class="cp-info-more cp-info-data">{{snd.info}}</span>

                                </span>
                                
                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let dev of viewState.receivers">
                        <tr>
                            <td class="cp-receiver-device"  [ngClass]="{'cp-object-hidden':dev.hidden}">
                                <span class="cp-expander" (click)="expand('rcv',dev.id)"><mat-icon >{{(dev.expanded?"remove":"add")}}</mat-icon></span>
                                <span class="cp-label">
                                    {{dev.alias}}
                                    <span class="cp-buttons">
                                        <button mat-icon-button color="info" (click)="openReceiverInfo(dev.id)" aria-label="Open Information Dialog"><mat-icon>info</mat-icon></button>
                                        <button *ngIf="!dev.hidden" mat-icon-button color="info" (click)="toggleHiddenObject(dev.id, 'receiver_device')" aria-label="Hide"><mat-icon>visibility_off</mat-icon></button>
                                        <button *ngIf="dev.hidden" mat-icon-button color="info" (click)="toggleHiddenObject(dev.id, 'receiver_device')" aria-label="Hide"><mat-icon>visibility_on</mat-icon></button>
                                        <button mat-icon-button color="info" (click)="openEditDialog(dev.id, 'device', dev.label)" aria-label="Edit Name"><mat-icon>edit</mat-icon></button>
                                    </span>
                                </span>
                                <span class="cp-info"></span>
                                
                           </td>
                        </tr>
                        <tr *ngFor="let rcv of dev.childs">
                            <td class="cp-receiver-child"  [ngClass]="{'cp-object-hidden':rcv.hidden}">
                                <span class="cp-label">
                                    {{rcv.alias}}
                                    <span class="cp-buttons">
                                        <button mat-icon-button color="warn" aria-label="Disconnect" (click)="makeConnection(rcv.id, 'disconnect')"><mat-icon>link_off</mat-icon></button>
                                        <button mat-icon-button color="info" (click)="openEditDialog(rcv.id, 'receiver', rcv.label)" aria-label="Edit Name"><mat-icon>edit</mat-icon></button>
                                        <button *ngIf="!rcv.hidden" mat-icon-button color="info" (click)="toggleHiddenObject(rcv.id, 'receiver')" aria-label="Hide"><mat-icon>visibility_off</mat-icon></button>
                                        <button *ngIf="rcv.hidden" mat-icon-button color="info" (click)="toggleHiddenObject(rcv.id, 'receiver')" aria-label="Hide"><mat-icon>visibility_on</mat-icon></button>
                                        <button mat-icon-button color="info" (click)="openReceiverInfo(rcv.id)" aria-label="Open Information Dialog"><mat-icon>info</mat-icon></button>
                                    </span>
                                </span>

                                <span class="cp-info">
                                    <span *ngIf="rcv.class == 'video'" class="cp-info-icon cp-info-video"><mat-icon>videocam</mat-icon></span>
                                    <span *ngIf="rcv.class == 'audio'" class="cp-info-icon cp-info-audio"><mat-icon>mic</mat-icon></span>
                                    <span *ngIf="rcv.class == 'data'" class="cp-info-icon cp-info-data"><mat-icon>poll</mat-icon></span>

                                    <span *ngIf="rcv.class == 'video'" class="cp-info-more cp-info-video">{{rcv.info}}</span>
                                    <span *ngIf="rcv.class == 'audio'" class="cp-info-more cp-info-audio">{{rcv.info}}</span>
                                    <span *ngIf="rcv.class == 'data'" class="cp-info-more cp-info-data">{{rcv.info}}</span>

                                </span>
                           </td>

                           <ng-container *ngFor="let sndDev of viewState.senders">
                            <td class="spacer">
                                
                            </td>
                            <td *ngFor="let snd of sndDev.childs" class="connector" [ngClass]="{'disabled':!(state.senders[snd.id] && state.flows[state.senders[snd.id].flow_id] && capabilitiesFit(state.receivers[rcv.id].caps,state.flows[state.senders[snd.id].flow_id]))}">
                                <ng-container *ngIf="hasState(rcv.id, snd.id); let s" >
                                    <div *ngIf="s == 'connecting'" (click)="makeConnection(rcv.id, snd.id)" class="connecting"></div>
                                    <div matRipple *ngIf="s == 'ready'" (click)="makeConnection(rcv.id, snd.id)" class="ready"></div>
                                    <div *ngIf="s == 'connected'" (click)="makeConnection(rcv.id, snd.id)" class="connected"></div>
                                    <div *ngIf="s == 'next'" (click)="makeConnection(rcv.id, snd.id)" class="next"></div>
                                    <div *ngIf="s == 'error'" (click)="makeConnection(rcv.id, snd.id)" class="error" #tooltip="matTooltip" [matTooltip]="connectErrors[rcv.id].message" ></div>
                                </ng-container>
                            </td>
                        </ng-container>




                        </tr>
                        


                    </ng-container>



                </tbody>
        </table>



        <!--
        <ng-template let-senderList="senderList" let-receiverList="receiverList" [ngTemplateOutletContext]="{ receiverList: getReceiverDevices(), senderList:getSenderDevices() }" [ngTemplateOutlet]="selfie" #selfie>
            <table class="crosspoint">
                <thead>
                    <tr>
                        <th class="stickySpacerExpand"></th>
                        <th class="stickySpacerName"></th>
                        <th class="stickySpacerInfo"></th>
                        <th class="stickySpacerDisconnect"></th>
                        <ng-container *ngFor="let dev of senderList ">
                            <th class="expander" (click)="expand('snd',dev.id)"><mat-icon >{{(isExpanded('snd',dev.id)?"remove":"add")}}</mat-icon></th>
                            <ng-container *ngIf="isExpanded('snd',dev.id)">
                                <ng-container *ngFor="let snd of dev.senders">
                                    <th class="stickyExpand" *ngIf="state.senders[snd]"></th>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tr>
                    <tr>
                        <th class="stickySpacerExpand"></th>
                        <th class="stickySpacerName"></th>
                        <th class="stickySpacerInfo"></th>
                        <th class="stickySpacerDisconnect"></th>
                        <ng-container *ngFor="let dev of senderList ">
                            <th class="device name"><span>{{dev.label}}</span></th>
                            <ng-container *ngIf="isExpanded('snd',dev.id)">
                                <ng-container *ngFor="let snd of dev.senders">
                                    <th class="sender name" *ngIf="state.senders[snd]"><span>{{state.senders[snd].label}}</span></th>
                                </ng-container>
                            </ng-container>
                        </ng-container>

                    </tr>
                    <tr>
                        <th class="stickySpacerExpand"></th>
                        <th class="stickySpacerName"></th>
                        <th class="stickySpacerInfo"></th>
                        <th class="stickySpacerDisconnect"></th>
                        <ng-container *ngFor="let dev of senderList ">
                            <th class="info"><span></span></th>
                            <ng-container *ngIf="isExpanded('snd',dev.id)">
                                <ng-container *ngFor="let snd of dev.senders">
                                    <th class="info" *ngIf="state.senders[snd]" [ngClass]="getSenderClass(snd)" (click)="openSenderInfo(snd)"><span >{{getSenderInfo(snd)}}</span></th>
                                </ng-container>
                            </ng-container>
                        </ng-container>

                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let dev of receiverList">
                        <tr>
                            <td class="expander" (click)="expand('rcv',dev.id)"><mat-icon >{{(isExpanded('rcv',dev.id)?"remove":"add")}}</mat-icon></td>
                            <td class="device name"><span>{{dev.label}}</span></td>
                            <td class="info"></td>
                        </tr>
                        <ng-container *ngIf="isExpanded('rcv',dev.id)">
                            <ng-container *ngFor="let rcv of dev.receivers">
                                <tr *ngIf="state.receivers[rcv]">
                                    <td class="stickySpacerExpand"></td>
                                    <td class="receiver name"><span>{{state.receivers[rcv].label}}</span></td>
                                    <td class="info" [ngClass]="getReceiverClass(rcv)"><span>{{getReceiverInfo(rcv)}}</span></td>
                                    <td class="connector disconnect">
                                                    <ng-container *ngIf="hasState(rcv, 'disconnect'); let s" >
                                                        <div *ngIf="s == 'connecting'" class="connecting"></div>
                                                        <div matRipple *ngIf="s == 'ready'" class="ready" (click)="makeConnection(rcv, 'disconnect')"></div>
                                                        <div *ngIf="s == 'connected'" class="connected"></div>
                                                        <div *ngIf="s == 'next'" (click)="makeConnection(rcv, 'disconnect')" class="next"></div>
                                                        <div *ngIf="s == 'error'" (click)="makeConnection(rcv, 'disconnect')" class="error" #tooltip="matTooltip" [matTooltip]="connectErrors[rcv].message" ></div>
                                                    </ng-container>
                                                </td>
                                    <ng-container *ngFor="let dev of senderList">
                                        <td></td>
                                        <ng-container *ngIf="isExpanded('snd',dev.id)">
                                            <ng-container *ngFor="let snd of dev.senders">
                                                <td class="connector" *ngIf="state.senders[snd] && capabilitiesFit(state.receivers[rcv].caps,state.flows[state.senders[snd].flow_id]); else tDisabled">
                                                    <ng-container *ngIf="hasState(rcv, snd); let s" >
                                                        <div *ngIf="s == 'connecting'" class="connecting"></div>
                                                        <div matRipple *ngIf="s == 'ready'" class="ready" (click)="makeConnection(rcv, snd)"></div>
                                                        <div *ngIf="s == 'connected'" class="connected"></div>
                                                        <div *ngIf="s == 'next'" (click)="makeConnection(rcv, snd)" class="next"></div>
                                                        <div *ngIf="s == 'error'" (click)="makeConnection(rcv, snd)" class="error" #tooltip="matTooltip" [matTooltip]="connectErrors[rcv].message" ></div>
                                                    </ng-container>
                                                </td>
                                                <ng-template #tDisabled>
                                                    <td class="disabled"></td>
                                                </ng-template>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </ng-template>
        -->
    </div>
    </div>
</div>