
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$md-ddmpalette: (
    50 : #e1f3e7,
    100 : #b4e0c4,
    200 : #82cc9c,
    300 : #50b774,
    400 : #2ba757,
    500 : #059839,
    600 : #049033,
    700 : #04852c,
    800 : #037b24,
    900 : #016a17,
    A100 : #99ffa7,
    A200 : #66ff7a,
    A400 : #33ff4e,
    A700 : #1aff38,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-secondarypalette: (
    50 : #e8edfa,
    100 : #c5d3f3,
    200 : #9fb6eb,
    300 : #7898e2,
    400 : #5b82dc,
    500 : #3e6cd6,
    600 : #3864d1,
    700 : #3059cc,
    800 : #284fc6,
    900 : #1b3dbc,
    A100 : #f1f4ff,
    A200 : #becaff,
    A400 : #8ba1ff,
    A700 : #728cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nmos-crosspoint-app-primary: mat-palette($md-ddmpalette);
$nmos-crosspoint-app-accent: mat-palette($md-secondarypalette, 700, A100, A200);


// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$nmos-crosspoint-app-theme: mat-dark-theme((
  color: (
    primary: $nmos-crosspoint-app-primary,
    accent: $nmos-crosspoint-app-accent,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($nmos-crosspoint-app-theme);

/* You can add global styles to this file, and also import other style files */


//color definitions


$flowDataColor: mat-color($mat-blue,400);
$flowAudioColor: mat-color($mat-deep-orange,400);
$flowVideoColor: mat-color($mat-green,400);

$infoColor:mat-color($mat-blue,600);
$warnColor:mat-color($mat-orange,700);
$successColor:mat-color($mat-green,700);
$errorColor:mat-color($mat-red,700);

// global styles


@import './styles/segoeui.scss';

html, body { height: 100%; }
body { margin: 0; font-weight: 400;margin:0px; padding:0px; font-family:Roboto, "Helvetica Neue", sans-serif;
    background-color: #37474F;
}







@import './styles/crosspoint.scss';
@import './styles/menu.scss';