
.toolbar-spacer {
    flex: 1 1 auto;
}


.fixed-sidebar {
        z-index: 9999;
    @include mat-elevation(2);
    background-color: mat-color($nmos-crosspoint-app-primary);
    color: #ffffff;
    position:fixed;
    bottom:0px;
    top:0px;
  
    width:80px;
    right:0px;

    .mat-icon-button {
        .mat-icon {
            font-size:35px;
            width:35px;
            height:35px;
            line-height: 35px;
        }
        width:70px;
        height:70px;
        display:block;
    }



    .takeButton {
        position:absolute;
        bottom:5px;
        left:5px;
        width:70px;
        height:70px;
    }
}

.fixed-overlay {
    z-index: 9999;
    @include mat-elevation(2);
    background-color: #cccccc;
    color: #000000;
    position:fixed;
    bottom:20px;
    top:20px;
  
    width:300px;
    right:100px;
    padding:20px;

    .mat-slide-toggle {
        display:block;
        margin-bottom:10px;
    }


    .fixed-overlay-header {
        button { float:right;}
    }
}
