   <h3>Connection State</h3>
   <p *ngIf="crosspointService.connected">Connected</p>
   <p *ngIf="!crosspointService.connected">Connection to server Failed.</p>
   <h3>NMOS Registries</h3>
   <table>
      <tr *ngFor="let r of registries">
         <td>
            <mat-icon *ngIf="r.connected.length == 6" color="success" aria-label="Fully Connected">done_all</mat-icon>
<mat-icon *ngIf="r.connected.length != 6 && r.connected.length != 0" color="info" aria-label="Partially Connected">done_all</mat-icon>
            <mat-icon *ngIf="r.connected.length == 0" color="warning" aria-label="Not Connected">remove_done</mat-icon>
         </td>
         <td>{{r.ip}}:{{r.port}}</td>
         <td>{{r.source}}</td>

      </tr>
   </table>
